[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[merge]
	tool = vimdiff
[user]
	name = umatoma
	email = umatomakun@gmail.com
[push]
	default = current
[alias]
	st = status
	df = diff
	cm = commit
	co = checkout
	delete-meged = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|master'|xargs git branch -d; };f"
